<!DOCTYPE html>
<html>
<head>
  <title>all da comics for <%=user.name%></title>
  <% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/header.ejs %>
<div id = "homepage">
  <% if(comics.length > 0){ %>
    <h1 id = "title">MY COMICS</h1>
    <% for (var i = 0; i < comics.length; i++) { %>
      <div id = "comics">
        <a href="/user/comics/<%=comics[i].id%>"><img id = "comicbookimg" src = "<%=comics[i].imgUrl%>"></a>
      </div>
    <%}%>
  <% } else{ %>  
   <div id = "no-comics">
    <p> YOU HAVE NO COMICS! <br><br><br> search for some to change that!</p>
   </div>
  <% } %>
</div>
</body>
</html>