<!DOCTYPE html>
<html>
<head>
  <title></title>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/header.ejs %>
  <div id = "newuserform">
    <form action = "/user/" method = "POST" id = "userform">
      <input class ="userforminput" type = "text" name = "name" placeholder= "name">
      <br>
      <input class ="userforminput" type = "email" name = "email" placeholder = "email">
      <br>
      <button id ="userformbutton">S U B M I T</button>
    </form>
  </div>
</body>
</html>