<!DOCTYPE html>
<html>
<head>
  <title>comic stats for <%=user.name%></title>
  <% include ../partials/head.ejs %>
</head>
<body>
<% include ../partials/header.ejs %>
<div id = "statspage">
  <% if(user.comics.length > 0){ %>
    <h1 id = "title2">MY COMIC STATS</h1>
      <div id = "comicstats"><br><br><br>
        <p>The total cost of this collection is $<%=comics.price%>!</p><br><br><br>
        <p>This collection has a total of <%=comics.pageCount%> pages!</p>
      </div>
  <% } else{ %>  
   <div id = "no-comic-stats">
    <p> YOU HAVE NO COMICS! <br><br><br> search for some to change that!</p>
   </div>
  <% } %>
</div>
</body>
</html>