<!DOCTYPE html>
<html>
<head>
  <title></title>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/header.ejs %>
  <div id = "searchcontainer">
    <form action = "/comics/search" method= "POST" id = "searchform">
      <input class = "searchinput" type="text" name = "title" placeholder= "title">
      <br>
      <input class = "searchinput" type="text" name = "startYear" placeholder= "start year">
      <br>
      <input class = "searchinput" type="text" name = "issueNumber" placeholder= "issue number">
      <br>
      <button id = "searchbutton">search</button>
    </form>
  </div>
</body>
</html>