<header>
  <a href="/user">
    <h1 id = "logo"></h1>
  </a> 
   <nav>
    <ul>
      <li><a href="/user/">my comics</a></li>
      <li><a href="/user/comics/stats">my comics stats</a></li>
      <li><a href="/comics/search">search for a comic</a></li>
    </ul>
  </nav>
</header>

