/*HEADER*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inconsolata';
  background-color: #4d6265;
  color: #36030D;
}

header{
  background-color: #e6f2ee;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  background-color: #16272c;
  color: white;
  border: 1px solid white;
  padding: 2em;
  transition: 1s;
}

li:hover{
  background-color: #4d6265;
}

#logo {
  text-align: center;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: center; 
  height: 6rem;
}

a:link {
  color: #bddbdb;
  text-decoration: none;
}

a:visited {
  color: #bddbdb;
  text-decoration: none;
}

a:hover {
  color: #bddbdb;
  text-decoration: none;
}

/*USER PAGE*/

#searchbuttoncontainer {
  text-align: center;
  margin-top: 10em;
}

#comicsearch {
  width: 8rem;
  height: 2rem;
  box-shadow: 5px 5px 2px darkred;
}

/* has no comics*/

#no-comics {
  margin-top: 10em;
  text-align: center;
}

#nocomicsmessage {
  margin-top: 2em;
}

/* has comics*/

#title{
  margin-top: 1em;
  font-size: 50px;
}

#comicbookimg {
  margin-top: 2em;
  width: 275px;
  height: 375px;
  margin-right: 5px;
}

#homepage {
  text-align: center;
}

/*MAKE NEW USER*/

#newuser {
  background-color: darkred;
}

#newuserform {
  text-align: center;
  margin-top: 2em;
}

.userforminput {
  margin-top: 4em;
  width: 200px;
  height: 20px;
}

#userformbutton {
  width: 6rem;
  height: 2rem;
  margin-top: 5em;
  box-shadow: 5px 5px 2px darkred;
}


/*COMIC SEARCH FORM*/

#searchcontainer {
  margin-top: 2em;
  text-align: center;
}

.searchinput {
  margin-top: 4em;
  width: 200px;
  height: 20px;
}

#searchbutton {
  width: 6rem;
  height: 2rem;
  margin-top: 3em;
  box-shadow: 5px 5px 2px darkred;
}

/*COMIC SEARCH RESULT*/

.showcomic {
  height: 345px;
  width: 245px;
}

#searchresultcontainer{
  text-align: center;
  margin-top: 2em;
}

#addbutton{
  width: 3rem;
  height: 1rem;
  margin-top: 1em;
  box-shadow: 2px 2px 1px darkred;
}

#nobutton{
  width: 3rem;
  height: 1rem;
  margin-top: 1em;
  box-shadow: 2px 2px 1px darkred;
}

/*USER COMIC SHOW PAGE*/

#showcontainer{
  text-align: center;
  margin-top: 1em;
}

#buttonedit{
  position: relative;
  right: 15em;
}

#deletebutton{
  position: relative;
  left: 15em;
  bottom: 3.13em;
}

/*USER COMIC EDIT PAGE*/

#editcontainer {
  text-align: center;
}

.editinput {
  margin-top: 3em;
  width: 200px;
  height: 20px;
}

#editbutton {
  width: 6rem;
  height: 2rem;
  margin-top: 3em;
  box-shadow: 5px 5px 2px darkred;
}

/*FOOTER*/

footer{
  background-color: transparent;
  margin-top: 2em;
}

/*MEDIA QUERIES*/

@media (min-width: 667px) {
  #newuserform {
    text-align: center;
    margin-top: 6em;
  }

  ul {
    font-size: 0;
  }

  #logo{
    margin-bottom: 0.5em;
  }

  li {
    padding: 0.5em;
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    height: 2em;
    box-sizing: border-box;
    border: 0;
  }

  header {
    padding-top: 2rem;
    height: 8em;
    background-color: #e6f2ee;
    color: white;
  }

  .searchinput {
    margin-top: 7em;
  }

  #searchbutton {
    margin-top: 4em;
  }

  #searchresultcontainer{
    text-align: center;
    margin-top: 2em;
  }

  #showcontainer{
    margin-top: 2em;
  }
}